
.increment {
  padding: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 24px;
  font-weight: 600;
}

.default-zero {
  background-color: yellow;
}

.positive {
  background-color: forestgreen;
  color: antiquewhite;
}

.negative {
  background-color: red;
  color: antiquewhite;
}
