
  <div class="d-flex">
    <button [disabled]="increment == -50"
            class="btn btn-danger"
            (click)="addIncrement(-1)"
    >
      -1
    </button>
    <p class="increment"
       [class.default-zero]="increment == 0"
       [class.positive]="increment > 0"
       [class.negative]="increment < 0"
    >
      {{ increment }}
    </p>
    <button [disabled]="increment == 50"
            class="btn btn-primary"
            (click)="addIncrement(1)"
    >
      +1
    </button>
  </div>

