<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="text-light" routerLink="/">HB PE3 SE</h1>
    <div class="collapse navbar-collapse ms-5" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/chess">Chess game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/counter/10">Counter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faction">Star Wars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pokedex">Pokédex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/api/pokedex">API Pokédex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/game">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form/language">Form language</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form/account">Nouveau compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/form/game">Ajouter jeu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changeBackgroundColor()">Dark/Light</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
