
$default-background-color: antiquewhite;

$default-font-color: lighten(black, 10%);

$chess-black: #7E757B;
$chess-white: #EEF0EC;
$chess-selected: lightblue;

$default-star-wars-color: #FFDE06;
$background-color-price: #ff5400;

$default-font-size: 15px;
