
.card-game {
  text-align: center;

  &:hover {
    cursor: pointer;
    transform: scale(1.04);
  }

  .container-image {
    height: 300px;
    position: relative;

    > img {
      height: 100%;
      width: 100%;
      border-radius: 15px;
    }

    .container-price {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.2em 0.4em;
      border-top-left-radius: 10px;
      font-weight: 600;
      font-size: 1.2em;
      color: white;
      background-color: $background-color-price;
    }
  }

  .game-title {
    font-size: 1em;
    font-weight: 500;
    color: $chess-black;
  }
}


.main-container {
  background-color: #eee;
  border-radius: 20px;
  margin-top: 1.2em;

  .game-detail-container {
    padding: 1.2em;

    .container-image {
      height: 400px;
      width: 100%;

      > img {
        border-radius: 15px;
        height: 100%;
        width: 100%;
      }
    }

    &.detail-price {
      font-size: 2em;
      color: whitesmoke;
      background-color: black;
    }

    &.r-top {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: white;
    }

    &.r-bottom {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

}

.p-12 {
  padding: 1.2em;
}

.grey {
  background-color: #eee;
}

