
body {
  background-color: $default-background-color;
  color: $default-font-color;
  font-size: $default-font-size;
}

.paginate {
  height: 44px;
  width: 44px;
  border-radius: 28px;
  background-color: $chess-black;
  padding: 0.5em 0.8em;
  color: $chess-white;
}

.col-20 {
  flex: 0 0 auto;
  width: 20%;
}

.pokedex-background {
  background-image: url('../assets/pokedex.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: lighten;
}

.router-link {
  cursor: pointer;
  &:hover {
    font-size: 1.1em;
  }
}
