
body {
  background-color: $default-background-color;
  color: $default-font-color;
  font-size: $default-font-size;
}

.global-black {
  background-color: #000;
  color: white;
}

@font-face {
  font-family: 'Star Jedi';
  src: url('../assets/font/Starjedi.ttf') format('truetype');
}

.paginate {
  height: 44px;
  width: 44px;
  border-radius: 28px;
  background-color: $chess-black;
  padding: 0.5em 0.8em;
  color: $chess-white;
}

.col-20 {
  flex: 0 0 auto;
  width: 20%;
}

.pokedex-background {
  background-image: url('../assets/pokedex.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.35);
  background-blend-mode: lighten;
}

.galaxy {
  background-image: url('../assets/starships.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.25);
  background-blend-mode: lighten;
  font-size: 1.1rem;
  color: $default-star-wars-color;
  font-family: 'Star Jedi', serif;
}

.card-faction {
  text-align: center;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .container-image {
    height: 240px;

    > img {
      height: 100%;
      width: 100%;
    }
  }
}

.router-link {
  cursor: pointer;
  &:hover {
    &:not(tr) {
      font-size: 1.1em;
    }
  }
}

.btn-steamish {
  padding: .5em 1em;
  text-decoration: none;
  border-radius: 12px;
  background-color: $background-color-price;
  color: $chess-white;
  font-weight: 600;
  border: 1px solid darken($background-color-price, 10%);
  &:hover {
    color: $chess-white;
    background-color: darken($background-color-price, 10%);
    border: 1px solid $background-color-price;
  }
}

.input-icon {
  width: calc(100% - 30px);
  &.icon {
    width: 20px;
    padding-top: 35px;
    &:hover {
      color: $background-color-price;
    }
  }
}

