
<div *ngIf="account; else noAccount">
  <h2 class="my-4">Mon profil</h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Nom</th>
        <td>{{account.name}}</td>
      </tr>
      <tr>
        <th>Pseudo</th>
        <td>{{account.nickname}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{account.email}}</td>
      </tr>
      <tr>
        <th>Solde</th>
        <td>{{account.wallet}}€ </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="formIsNotVisible; else form">
    <button class="btn btn-steamish" (click)="formIsNotVisible = !formIsNotVisible">
      Modifier
    </button>
  </div>

  <div *ngIf="libraries.length > 0">
    <h2>Ses jeux</h2>
    <div class="row">
      <div class="col-3 card-game" *ngFor="let librarie of libraries">
        <app-card-game [game]="librarie.objectGame" [displayPrice]="false"></app-card-game>
      </div>
    </div>
  </div>

</div>

<ng-template #noAccount>
  <div>Aucun compte trouvé</div>
</ng-template>

<ng-template #form>
  <button class="btn btn-steamish" (click)="formIsNotVisible = !formIsNotVisible">
    Annuler
  </button>
  <app-form-account *ngIf="account" [account]="account"></app-form-account>
</ng-template>
