
<h1>Les comptes</h1>

<div *ngIf="accountPlatformRequest">

  <div class="d-flex justify-content-between">
    <button class="btn btn-danger" (click)="changePage(accountPlatformRequest['hydra:view']['hydra:first'])">
      First
    </button>
    <button class="btn btn-warning" (click)="changePage(accountPlatformRequest['hydra:view']['hydra:previous'])"
            [disabled]="!accountPlatformRequest['hydra:view']['hydra:previous']"
    >
      Previous
    </button>
    <button class="btn btn-info" (click)="changePage(accountPlatformRequest['hydra:view']['hydra:next'])"
            [disabled]="!accountPlatformRequest['hydra:view']['hydra:next']"
    >
      Next
    </button>
    <button class="btn btn-success" (click)="changePage(accountPlatformRequest['hydra:view']['hydra:last'])">
      Last
    </button>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Nickname</th>
        <th>Email</th>
        <th>Nombre de jeux</th>
        <th>Solde</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let account of accountPlatformRequest['hydra:member']">
<!--        (click)="account.isVisible = !account.isVisible"-->
        <tr routerLink="/account/{{account.id}}/details">
          <th>{{account.name}}</th>
          <th>{{account.nickname}}</th>
          <th>{{account.email}}</th>
          <th class="fw-bold">({{account.libraries.length}})</th>
          <th>{{account.wallet}}€</th>
        </tr>
        <tr [hidden]="!account.isVisible">
          <th colspan="5">Coucou</th>
          <!--        <app-account-detail [account]="account"></app-account-detail>-->
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
